@page "/Categories"

<h3>CategoriesList</h3>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Black Tea</td>
        </tr>
    </tbody>
</table>

@code {

}
