@page "/Categories"
@using TeaSaloon_API.Models

@inject TeaSaloon_Blazor.Services.CategoryService CategoryService

<h3>CategoriesList</h3>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
        @if(categories_dans_API != null)
        @foreach(Category cat in categories_dans_API)
        {
            <tr>
                <th scope="row">@cat.CategoryID</th>
                <td>@cat.Name</td>
            </tr>
        }
        
    </tbody>
</table>

@code {

    //Category : fait référence à la classe
        // ici on crée une liste de type Category
    //categories : c'est simplement le nom que je donne à ma liste
        //j'aurais très bien pu l'appeler "toutes_les_catégories"
    List<Category>? categories_dans_API;
    string ErrorMessage;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            categories_dans_API = await CategoryService.GetAllAsync();
        }
        catch (Exception ex)
        {
            ErrorMessage = ex.Message;
        }
    }
}
