@page "/products"

<h3>ProductsList</h3>


<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Price</th>
      <th scope="col">Name</th>
      <th scope="col">Image</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">98</th>
      <td>4.5</td>
      <td>Muffin Chocolat</td>
      <td>muffin-chocolat.jpg</td>
    </tr>
  </tbody>
</table>



@code {

}
