@page "/Users"

<h3>UsersList</h3>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">FirstName</th>
            <th scope="col">IsManager</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Dupont</td>
            <td>Jean</td>
            <td>True</td>
            <td>jean.dupont@teasaloon.com</td>
            <td>Password123!</td>
        </tr>
    </tbody>
</table>

@code {

}
