@page "/Teas"

<h3>TeasList</h3>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Price</th>
            <th scope="col">Name</th>
            <th scope="col">Image</th>
            <th scope="col">IsPreSet</th>
            <th scope="col">IsIced</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">118</th>
            <td>4.5</td>
            <td>Thé Vert Sencha</td>
            <td>sencha.jpg</td>
            <td>flase</td>
            <td>false</td>
        </tr>
    </tbody>
</table>


@code {

}
