@page "/Ingredients"

<h3>IngredientsList</h3>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">SuplementPrice</th>
            <th scope="col">Price</th>
            <th scope="col">Image</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Sugar</td>
            <td>0.2</td>
            <td>0.5</td>
            <td>sugar.png</td>
        </tr>
    </tbody>
</table>

@code {

}
